body {
  margin: 0;
  font-family: Cairo, sans-serif;
  background: #f7f5f2;
  color: #2b2b2b;
}

/* Hero */
.hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Glass */
.glass {
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 15px;
  max-width: 100%;
  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(3px);
  border-radius: 22px;
  text-align: center;
}

.glass h1 {
  margin-bottom: 10px;
}

/* Curves */
.curve-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #f7f5f2;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
}

/* Content */
.content {
  padding: 30px;
}

h2, h3 {
  color: #c48a5a;
}

/* Author */
.author-section {
  background: #fff;
}

.curve-top {
  width: 100%;
  height: 90px;
  background: #f7f5f2;
  border-bottom-left-radius: 100% 100%;
  border-bottom-right-radius: 100% 100%;
}

.author-full {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

/* Mobile */
@media (max-width: 768px) {
  .glass h1 {
    font-size: 22px;
  }
  .content {
    padding: 20px;
  }
}

.site-footer {
  padding: 12px 10px;
  text-align: center;
  font-size: 13px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: #fafafa;
}


.facebook-contact {
  direction: ltr;
}

.facebook-contact {
  display: flex;
  flex-direction: column;
  align-items: center;   /* السنتر الحقيقي */
  justify-content: center;
  margin: 40px auto 30px;
  width: 100%;
}

.contact-title {
  font-size: 18px;
  font-weight: 500;
  color: #444;
  margin-bottom: 14px;
  letter-spacing: 1px;
  text-align: center;
}

.facebook-contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 26px;
  border-radius: 14px;
  transition: all 0.35s ease;
}

.facebook-contact img {
  width: 170px;
  height: auto;
  display: block;
}

/* Hover */
.facebook-contact a:hover {
  background: linear-gradient(135deg, #1877f2, #4e9cff);
  box-shadow: 0 10px 25px rgba(24, 119, 242, 0.35);
  transform: translateY(-3px);
}

.facebook-contact a:hover img {
  filter: brightness(0) invert(1);
}

